html{
  height:100%;
}

body{
  height:100%;
  margin:0;
  padding:0;
  height:100%;
  font-family: sans-serif;
  font-size: 24px;
  background-color: #111111;
  color : #ffffff;
}

.button {
  cursor:pointer;
}

.container {
  width:100%;
  height:100%;
  display: flex;
  flex-flow: column;
}

.contents {
  flex:1;
  display: flex;
  flex-flow: column;
}

.largeButton {
  margin:50px;
  padding:15px;
  margin-top:15%;
  text-align: center;
  width:auto;
  background-color: #FF0000;
  font-size:1.5em;
  border-radius:20px;
}

a {
  color:#ffffff;
}
