.proposalContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

.proposalBack {
    z-index: 2;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 40%;
}

.proposalMid {
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, 0.6);
}

.proposalFore {
    display:flex;
    flex-flow: column;
    padding: 5px 5% 0px 5%;
    height: 100%;
}

.proposalInfo {
    flex: 0 1 20%;
    margin-top: 10px;
    display:flex;
    flex-flow: row;
}

.voteSelecter {
    flex: 1;
    display:flex;
    flex-flow: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: 15px 0;
}

.patternTitle {
    font-weight: 500;
    letter-spacing: 0.07em;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 1.5em;
}

.lengthInfo {
    padding-left: 1em;
    padding-top: 0.6em;
    font-size: 0.8em;
    line-height: 1.5em;
}

.patternDetails {
    position:absolute;
    right: 5%;
    top: 7%;
    font-size: 30px;
}

.smallMetaInfo {
    font-size: 0.7em;
    font-weight: 300;
}

.option {
    flex: 1;
    border: 1px #fff;
    height: 100%;
    max-width: 30%;
    /*width: 30px;*/
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
}

.progressBar {
    flex: 0 1 20%;
}

