.questionPanel{
  flex: 1;
  display:flex;
  flex-flow: column;
}

.text {
  flex: 2;
  margin: 5px 0 5px 0;
  font-size:1.2em;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.singleOption {
  flex: 1 1 30%;
  display: flex;
  font-size: 1.5em;

  margin: 5px 2% 5px 2%;
  background-color: #ff0000;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.options {
  flex: 4;
  margin: 5px 0 5px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.option{
  flex: 1;
}