.coinProgressContainer {
    height: 25px;
    width: 95%;
    display: flex;
    flex-flow: row;
    /*background: rgba(23, 52, 201, 0.4);*/
}

.bar{
    margin-top: 10px;
    flex: 1;
    height: 4px;
}
.bar .back {
    height: 100%;
    width: 100%;
    border-radius: 2px;
    background: rgba(99, 99, 99, 0.8);
}
.bar .fore {
    height: 100%;
    background: #f8e71c;
    border-radius: 5px;
}

.info {
    flex: 0 1 auto;
    display: flex;
    flex-flow: row;
}

.smallInfo {
    flex: 0 1 auto;
    font-size: 0.8em;
    padding-left: 10px;
}

.info .remaining {
    line-height: 100%;
    font-size: 0.9em;
    padding-top: 0.1em;
    padding-left:5px;
    padding-right: 5px;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.info .unit {
    width: 22px;
    height: 25px;
    background: url("/static/img/bc.png") no-repeat;
    background-size: 20px 20px;
}

.info .left {
    font-size: 0.9em;
}