
.zIndexContents {
  flex: 1;
  position: relative;
}


.mapAndStreetView {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*
  background-color: #ff0000;
  */
}

.survey {
  /*z-index: 1;
  position: absolute;*/
  /*width: 100%;
  height: 100%;
  bottom:0;*/
}

/*
.refreshButton {
  flex: 1;
  font-size: 70%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 1% 3% 1% 3%;
  border-radius: 10px;
  background-color: #333;
  cursor:pointer;  
  user-select: none;
  -moz-user-select: none;
}
*/