.info{
  flex: 0 0 auto;
  font-size: 0.5em;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.mapAndStreetView {
  flex: 7;
  display:flex;
  flex-flow:row;
  /* for debugging */
  background-color: #ff0000;
}

.map{
  flex:1;
  display: flex;
  flex-flow: column;
}

.streetView{
  flex:1;
  display: flex;
  flex-flow: column;
}

.question {
  /* for debugging*/
  background-color: #ffff00;
  flex: 3;
  font-size:1.2em;
  display: flex;
  flex-flow: column;
}

.options {
  flex: 3;
  margin: 5px 3% 5px 3%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.singleOption {
  flex: 1 1 30%;
  display: flex;
  font-size: 1.5em;

  margin: 5px 2% 5px 2%;
  background-color: #ff0000;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.footer {
   /* for debugging*/
  background-color: #ff00ff;
  flex: 2;
  display:flex;
  flex-flow: column;
  margin-bottom:10px;
}

.nextButton {
  flex : 1;
  font-size: 1.0em;
  margin: 0 20px 5%;
  background-color: #555555;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}
