.navigation {
  flex: 0 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width:100%;
  min-height:50px;
}

.navLink {
  margin-left:5px;
  width: auto;
  float : left;
  display: flex;
  flex-flow: row;
}

.actionLink {
  margin-right:5px;
  text-align: right;
  width:auto;
  float:right;
}

.divLink {
  width: 75px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.link {
  padding:0 8px;
  letter-spacing: 2px;
}

.captionText {
  width: 100%;
  text-decoration: none;
  font-size: 0.7em;
  text-align: center;
  padding-top: 3px;
  font-weight: lighter;
  letter-spacing: 0.5px;
}

.center {
  margin: auto;
}

.icon {
  font-size: 50px;
}

.iconImage {
  margin-top:0px;
}

.recording {
  color: #ff0000;
}

.disabled {
  color:#444;
}

.disableLink{
  pointer-events: none;
}
