.navigation {
  flex: 0 0 auto;
  margin-top:15px;
  margin-bottom:15px;
  width:100%;
  min-height:50px;
}

.navLink {
  margin-left:5px;
  width: auto;
  float : left;
}

.actionLink {
  margin-right:5px;
  text-align: right;
  width:auto;
  float:right;
}

.link {
  padding:0 8px;
  letter-spacing: 2px;
}

.center {
  margin: auto;
}

.icon {
  font-size: 50px;
}

.iconImage {
  margin-top:0px;
}

.iconRecording {
  color: #ff0000;
  font-size: 50px;
  padding-right: 10px;
}
