.button {
  composes: button from 'styles/styles.css';
}

.recordContainer {
  margin:auto;
}

.mainButton {
  composes : button from 'styles/styles.css';
  margin:auto;
  text-align: center;
  vertical-align: middle;
  line-height: 100%;
  margin-top:10%;
  width:70%;
  padding-top:70%;
  border-radius:50%;
  background-color:#ffffff;
}

.smallButton {
  composes : button from 'styles/styles.css';
  width:30%;
  padding-top:30%;
  margin:10% 10% 0 10%;
  border-radius:50%;
}

.buttonContents {
  display : inline-block;
  vertical-align: middle;
}

.detailText {
  float:left;
  width:90%;
  font-size:0.5em;
  margin:10%;
}